$image-prefix: 'https://iassist-assets.s3.us-east-2.amazonaws.com/images/';

.screen-wrapper {
    position: absolute;
    left: 10px;
    background: #f4f4f4;
    color: #000;
    font-size: 11px;
    width: 170px;
    padding: 0 5px;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
    .screen-record {
      background: transparent;
      padding: 0 5px;
      display: flex;
      align-items: center;
      border-bottom: 0.1px #00000040 solid;
      line-height: 22px;

      &::before {
        content: "";
        mask: url($image-prefix + "icon-record-filled.svg") no-repeat center center;
        mask-size: 10px;
        width: 10px;
        height: 10px;
        background-color: #000;
        margin-right: 5px;
      }
    }

    .screen-shot {
      background: transparent;
      display: flex;
      align-items: center;
      padding: 0 5px;
      line-height: 22px;

      &::before {
        content: "";
        mask: url($image-prefix + "icon-screenshot-filled.svg") no-repeat center center;
        mask-size: 10px;
        width: 10px;
        height: 10px;
        background-color: #000;
        margin-right: 5px;
      }
    }
  }

  .add-btn {
    width: 80%;
    margin-top: 10px;
    button {
      cursor: pointer;
      content: "";
      mask: url($image-prefix + "icon-plus.svg") no-repeat center center;
      -webkit-mask: url($image-prefix + "icon-plus.svg") no-repeat center center;
      min-width: 12px;
      width: 17px;
      height: 17px;
      background-color: #b1b2b3;
      display: block;
      margin: 0 7px;
      border-radius: 50%;
    }
  }

  .video-url {
    grid-template-columns: 30% 30% 30% !important;
    gap: 10px;
    width: 90%;
  }
  #video-content-wrapper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-top: 10px;
    grid-row-gap: 10px;
    .vid-content {
      margin-left: 10px;
      position: relative;
      #video {
        width: 100px;
        height: 60px;
        object-fit: initial;
        border-radius: 0;
      }
      #img {
        width: 100%;
        object-fit: initial;
        border-radius: 0;
        margin: 0;
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #232931;
        padding: 2px 3px;
        width: 100%;
        .id {
          font-size: 9px;
        }
        button {
          content: "Delete";
          mask: url($image-prefix + "icon-delete.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-delete.svg") no-repeat center center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
    }
  }