@import "modules/variables.scss";
// @import "modules/alerts.scss";
// @import "modules/buttons.scss";
// @import "modules/forms.scss";
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --field-border-color: rgba(255, 255, 255, 0.5);
  --field-label-bg: #232931;
  --field-label-color: #fff;
  --tm-global-search-bg: #202020;
  --tm-global-search-icon-color: rgba(255, 255, 255, 0.33);
}

[data-theme="light"] {
  --field-border-color: rgba(0, 0, 0, 0.2);
  --field-label-bg: #fff;
  --field-label-color: rgba(0, 0, 0, 0.5);
  --tm-global-search-bg: rgba(0, 0, 0, 0.1);
  --tm-global-search-icon-color: rgba(0, 0, 0, 0.33);
}

*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; //Hide Scrollbar in firefox
}

/************************
  === GLOBAL Styles ===
**************************/
body,
html {
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: $font-poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  overscroll-behavior: none;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button {
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: 500;
  font-family: $font-poppins;
  border: none;
  margin: 0;
  &:disabled {
    opacity: 0.5;
  }
}

$app_wrapper_padding: $header_height /*+ $sub_header_height*/;


/***************************
  == PageNotFound - 404 ==
***************************/
.pagenotfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h2 {
    line-height: 1.2;
    margin: 0 0 10px 0;
    padding: 0;
  }
  a {
    color: var(--blue-color);
  }

  .redirecting-timer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .countdown-wrap {
      position: relative;
      right: auto;
    }
    .text {
      margin-right: 15px;
    }
  }
}

input,
textarea,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
}


