#create-chat-room{
    
    .header-wrapper {
        padding-right: 7px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
        // gap: 62px;
        font-size: 11px;
        top: 0;
        background: #2f3741 0% 0% no-repeat padding-box;
        #loader {
          top: 30px;
          position: absolute;
        }
        .breadcrumb {
          margin-left: 10px;
    
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
    
            li {
              padding-left: 30px;
              position: relative;
              list-style-type: none;
              font-size: 11px;
              font-weight: 600;
              color: #fff;
              line-height: 14px;
    
              &:before {
                content: "";
                position: absolute;
                left: 0;
                width: 15px;
                height: 1px;
                border-radius: 5px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
    
              &:after {
                content: "";
                position: absolute;
                left: 15px;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        .header-inner {
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100%;
          height: 30px;
          background-color: #2f3741;
          border-radius: 2px 0px 0px 0px;
          padding: 0 10px;
          font-size: 11px;
          font-weight: 500;
          cursor: pointer;
          .header-back {
            display: flex;
            color: #b1b2b3;
            cursor: pointer;
            &::before {
              content: "";
              mask: url("../../images/icon-arrow-left.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-arrow-left.svg") no-repeat center
                center;
    
              width: 20px;
              height: 11px;
              background-color: #b1b2b3;
              margin: 2px;
            }
          }
        }
        .header-other-functionality-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 13px;
          width: 100%;
          .filter-btn {
            .button {
              content: "";
              mask: url("../../images/icon-filters.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-filters.svg") no-repeat center
                center;
    
              min-width: 12px;
              width: 12px;
              height: 12px;
              background-color: #b1b2b3;
              display: block;
              //   margin: 0 7px;
              cursor: pointer;
            }
            .button-select {
              background: blue;
            }
          }
    
          .filter-bg {
            background: #fff;
            padding: 3px;
          }
    
          .topic-filter-search {
            width: 210px;
            height: 20px;
            // margin-right: 5px;
            &:before {
              display: none;
            }
    
            .search {
              position: relative;
              width: 100%;
              max-width: 100%;
              display: flex;
              align-items: center;
              background: #000000 0% 0% no-repeat padding-box;
              border-radius: 2px;
              margin: 0;
    
              .btn {
                content: "";
                mask: url("../../images/icon-search.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-search.svg") no-repeat center
                  center;
    
                min-width: 12px;
                width: 12px;
                height: 12px;
                background-color: #777777;
                display: block;
                margin: 0 7px;
              }
    
              input {
                background: transparent;
                border: none;
                padding: 0;
                line-height: 20px;
                width: 100%;
                color: #fff;
              }
            }
          }
          .author-list {
            display: flex;
            cursor: pointer;
            //gap: 4px;
            .add-icon-wrapper {
              background: #b1b2b3;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 2px;
              padding: 1px;
              .add-icon {
                content: "";
                mask: url("../../images/icon-plus-lite.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-plus-lite.svg") no-repeat
                  center center;
    
                mask-size: 8px;
                -webkit-mask-size: 8px;
    
                width: 4px;
                height: 8px;
                background-color: #000000;
                margin: 0;
              }
            }
            img {
              border-radius: 2px;
              object-fit: cover;
              padding-right: 3px;
              margin: -3px 0;
            }
            .number {
              border-radius: 2px;
              padding: 3px;
              background-color: grey;
              font-size: 9px;
              width: 20px;
              height: 20px;
            }
          }
          .btn-new-topic-wrapper {
            &:before {
              display: none;
            }
    
            button {
              display: flex;
              align-items: center;
              width: 55px;
              height: 16px;
              position: relative;
              cursor: pointer;
              border: none;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 2px;
              padding: 0 5px 0 0;
    
              .add-new-ticket {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background: #00000033;
                margin-right: 4px;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-plus-lite.svg") no-repeat center
                    center;
                  -webkit-mask: url("../../images/icon-plus-lite.svg") no-repeat
                    center center;
                  width: 8px;
                  height: 8px;
                  background-color: #000000;
                  margin: 0;
                }
              }
            }
    
            .list {
              width: 100%;
              display: flex;
              align-items: center;
              width: 50px;
              background: #efefef 0% 0% no-repeat padding-box;
              border-radius: 2px;
    
              input {
                background: transparent;
                border: none;
                padding: 0;
                line-height: 20px;
                width: 100%;
              }
            }
          }
          label {
            position: relative;
            padding-left: 28px;
            margin: 0 10px;
    
            &:before,
            &:after {
              content: "";
              position: absolute;
              background-color: #fff;
              top: 50%;
              transform: translateY(-50%);
              margin-top: 1px;
            }
            &:before {
              left: 0;
              width: 15px;
              height: 1px;
              border-radius: 5px;
            }
            &:after {
              left: 15px;
              width: 6px;
              height: 6px;
              border-radius: 6px;
            }
          }
          .unread {
            padding: 0;
            padding-right: 0;
            border-radius: 3px;
            font-size: 11px;
            width: auto;
            //display: flex;
            justify-content: left;
            align-items: center;
    
            span {
              background-color: red;
              color: #fff;
              border-radius: 50%;
              font-size: 11px;
              padding: 0 5px;
              margin: 0;
              margin-right: 10px;
              margin-left: 5px;
              height: 12px;
              width: 12px;
    
              &:before,
              &:after {
                display: none;
              }
            }
          }
          .header-close {
            display: block;
            width: 11px;
            height: 11px;
            mask: url("../../images/icon-close.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-close.svg") no-repeat center center;
    
            background: #b1b2b3;
          }
        }
      }

      .create-wrapper {
        height: calc(100% - 115px);
        // overflow-y: scroll;
        padding: 9px 15px;
    
        .title-main {
          font-size: 11px;
          color: #b1b2b3;
          padding-bottom: 5px;
        }
        .field-with-label {
          display: flex;
          position: relative;
          margin: 0 10px 10px 0;
          width: 100%;
          height: auto;
          border: 1px solid #87929d;
          border-radius: 2px;
          margin-top: 4px;
          .max-length {
            // float: right;
            // display: flex;
            font-size: 12px;
            color: #87929d;
            // margin-top: auto;
            // padding-bottom: 7px;
            //padding-right: 8px;
            // justify-content: flex-end;
            // align-items: flex-end;
    
            position: absolute;
            right: 6px;
            top: 11px;
          }
          //   .description {
          //     //margin: auto;
          //   }
          textarea {
            background: transparent;
            width: 88%;
            height: 30px;
            padding: 6px 0;
            padding-left: 5px;
            resize: none;
            border: none;
            border-radius: 2px;
            color: #fff;
            line-height: 20px;
    
            ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              padding: 10px;
            }
          }
    
          > label {
            position: absolute;
            right: 15px;
            top: -11px;
            padding: 0 2px;
            border-radius: 2px;
            font-size: 10px;
            color: #fff;
            background-color: #232931;
            z-index: 1;
          }
          .field-block {
            display: inline-block;
            .field-control {
              width: 100%;
              padding: 0 8px;
              height: 30px;
              line-height: 30px;
              color: #fff;
              border-radius: 2px;
              background: transparent;
              border: none;
    
              :focus {
                outline: none;
              }
            }
          }
    
          .tag-box {
            position: relative;
            display: flex;
            display: inline-block;
            border-radius: 2px;
            padding: 0 16px 0 4px;
            background: #65696f;
            margin: 7px 0;
            margin-left: 6px;
            .tag-text {
              line-height: 18px;
              font-size: 10px;
              color: #fff;
            }
            .close-btn {
              position: absolute;
              right: 2px;
              top: 3px;
              background: #fff;
              padding: 0;
              width: 13px;
              height: 13px;
              mask: url("../../images/icon-close.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-close.svg") no-repeat center
                center;
              mask-size: 8px;
              -webkit-mask-size: 8px;
            }
          }
          textarea.field-control {
            height: 80px;
            line-height: 1.5;
            display: block;
            padding: 8px;
            :focus {
              outline: none;
            }
          }
        }
    
        .field-with-label:hover {
          cursor: text;
        }
    
        .field-with-label-description {
          textarea {
            height: 60px;
          }
          .max-length {
            top: 40px;
          }
        }
        .tags {
          position: relative;
          display: block !important;
        }
    
        .widget {
          //background: #000000;
          padding: 10px;
          margin: 0 0 15px 0;
          border-radius: 2px;
          font-size: 11px;
          border-top: 1px solid #6b6767;
    
          .widget-header {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 0;
            position: relative;
    
            h4 {
              margin: 0;
              padding: 0;
              margin-right: 10px;
            }
            .selected-users {
              display: flex;
              justify-content: center;
              align-items: center;
              width: auto;
              height: 14px;
              font-size: 11px;
              padding: 0 5px;
              background: #404040;
              border-radius: 2px;
    
              span {
                display: inline-block;
                color: #18ff1c;
                margin: 0 0 0 5px;
              }
            }
            .search-wrapper {
              position: absolute;
              top: 0;
              right: 0;
              width: 160px;
              height: 16px;
              background: #111111;
              border-radius: 2px;
              // align-content: flex-end;
    
              &:before {
                display: none;
              }
    
              .search {
                position: relative;
                width: 100%;
                max-width: 160px;
                display: flex;
                align-items: center;
                width: 250px;
                background: #111111;
                border-radius: 2px;
                box-shadow: -3px 0px 3px #00000040;
    
                .before {
                  content: "";
                  mask: url("../../images/icon-search.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-search.svg") no-repeat center
                    center;
                  min-width: 12px;
                  width: 12px;
                  height: 12px;
                  background-color: #777777;
                  display: block;
                  margin: 0 7px;
                }
    
                input {
                  background: transparent;
                  border: none;
                  padding: 0;
                  line-height: 20px;
                  width: 100%;
                  color: #ffffff;
                }
              }
            }
          }
    
          .widget-content {
            margin-top: 10px;
            // .users-list {
            // }
    
            .auth-list {
              display: flex;
              align-items: center;
              justify-content: space-between;
    
              label {
                display: flex;
                align-items: center;
                justify-content: left;
                margin-right: 5px;
              }
            }
          }
    
          &.textarea {
            width: 100%;
            height: 150px;
            border-radius: 2px;
            padding: 0;
    
            textarea {
              background: #000;
              width: 100%;
              height: 100%;
              padding: 10px;
              resize: none;
              border: none;
              border-radius: 2px;
              color: #fff;
    
              ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                padding: 10px;
              }
            }
          }
        }
    
        .edit-user-wrapper {
          .members {
            font-size: 11px;
            font-weight: 700;
          }
          .edit-user {
            .card {
              margin: 10px;
              padding: 10px;
              background: #232931;
              border-radius: 3px;
    
              .card-name-wrapper {
                display: flex;
                width: 100%;
                font-size: 14px;
                .nav-clicks {
                  position: absolute;
                  background: #fff;
                  color: #000000;
                  padding: 10px;
                  top: auto;
                  right: 20px;
                  border-radius: 3px;
                  li {
                    color: #000000;
                    list-style-type: none;
                    font-size: 10px;
                    padding: 4px 0;
                    cursor: pointer;
                  }
                  // > li:first-child {
                  //   padding-top: 0;
                  // }
                  > li:last-child {
                    padding-bottom: 0;
                  }
                }
                .card-name {
                  width: 80%;
                  display: flex;
                }
                img {
                  border-radius: 50%;
                  object-fit: cover;
                  padding-right: 3px;
                  margin: -3px 0;
                }
                span {
                  padding-left: 10px;
                  font-size: 12px;
                }
                button {
                  cursor: pointer;
                  align-items: flex-end;
                  margin-left: 40px;
                  mask: url("../../images/icon-dots.svg") no-repeat center center;
                  background-color: #fff;
                  mask-size: 12px;
                  -webkit-mask-size: 12px;
    
                  transform: rotate(90deg);
                  min-height: 16px;
                }
              }
              .organisation {
                padding-top: 10px;
                label {
                  color: #929798;
                }
                span {
                  color: #fff;
                }
              }
            }
          }
          .authorization {
            span {
              margin-right: 10px;
              margin-left: 3px;
            }
            .move {
              padding-left: 10px;
            }
            .update {
              display: flex;
              justify-content: flex-end;
              padding-top: 15px;
              margin-right: 20px;
              button {
                align-items: flex-end;
                background: green;
                color: #fff;
              }
            }
          }
          .button-wrap {
            width: 100%;
            background: #232931;
            padding: 5px;
            border-radius: 3px;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 0;
            button {
              color: #fff;
              background: green;
              border-radius: 3px;
            }
          }
        }
        .none {
          background: none !important;
        }
    
        .record-wrapper {
          // height: 514px;
          // max-height: 514px;
          height: 314px;
          max-height: 314px;
          width: 421px;
          overflow: scroll;
          background: #1a1f26 0% 0% no-repeat padding-box;
          font-size: 11px;
          padding: 10px;
          .record-header {
            display: flex;
            align-items: center;
            .text {
              width: 60%;
              color: #b1b2b3;
            }
            .record-button {
              display: flex;
              .record {
                background: transparent;
                color: #fff;
                display: flex;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-record.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-record.svg") no-repeat center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin: 3px 4px;
                }
              }
    
              .shot {
                background: transparent;
                color: #fff;
                display: flex;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-screenshot.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-screenshot.svg") no-repeat center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin: 3px 4px;
                }
              }
            }
          }
    
          .video-content-wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            //gap: 10px;
            padding-top: 14px;
            width: 410px;
            .vid-content {
              margin-bottom: 10px;
              video,
              img {
                // max-width: 200px;
                // max-height: 100px;
                width: 200px;
                height: 120px;
                margin: 0;
              }
              .footer {
                display: flex;
                background: #232931;
                padding: 2px 2px;
                margin-top: -2px;
                margin-right: 14px;
                width: 100%;
                .id {
                  width: 90%;
                }
                button {
                  content: "Delete";
                  mask: url("../../images/icon-delete.svg") no-repeat center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin-left: -3px;
                }
              }
            }
          }
          .not-found {
            position: relative;
            top: 40%;
            left: 40%;
            color: #b1b2b3;
          }
        }
    
        .submit-wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 40px;
          padding: 0 15px;
          background: #2f3741 0% 0% no-repeat padding-box;
          display: flex;
          align-items: center;
          justify-content: flex-end;
    
          button {
            margin: 0 10px 0 0;
            padding: 0 10px;
            border: none;
            font-size: 10px;
            height: 15px;
            border-radius: 2px;
            cursor: pointer;
    
            &:last-child {
              margin-right: 0;
            }
          }
          .start {
            background-color: #00bb5a;
          }
        }
      }
}