$image-prefix: "https://iassist-assets.s3.us-east-2.amazonaws.com/images/";

#iassist-panel{
  .iassist-panel-header {
    .header-back {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #b1b2b3;
      cursor: pointer;
      &::before {
        content: "";
        mask: url($image-prefix + "icon-arrow-left.svg") no-repeat center center;
        mask-size: 15px;
        -webkit-mask: url($image-prefix + "icon-arrow-left.svg") no-repeat
          center center;
        -webkit-mask-size: 15px;
        width: 15px;
        height: 12px;
        background-color: #b1b2b3;
      }
    }

    .header-right {
      .author-list {
        span {
          position: relative;
          z-index: 1;
        }

        img {
          border-radius: 2px;
          object-fit: cover;
          padding-right: 3px;
          margin: -3px 0;
        }
      }

      .unread {
        padding: 0;
        padding-right: 0;
        border-radius: 3px;
        font-size: 11px;
        width: auto;
        //display: flex;
        justify-content: left;
        align-items: center;

        span {
          background-color: red;
          color: #fff;
          border-radius: 50%;
          font-size: 11px;
          padding: 0 5px;
          margin: 0;
          margin-right: 10px;
          margin-left: 5px;
          height: 12px;
          width: 12px;

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }
  #loader {
    top: 30px;
    position: absolute;
  }

  .title-widget {
    font-size: 11px;
    padding: 10px;
    border-bottom: 1px solid rgb(117, 115, 115);
    position: relative;
    background: #232931 0% 0% no-repeat padding-box;
    z-index: 1;
    word-break: break-all;
    .name {
      padding: 4px 0;
      display: flex;
      cursor: pointer;
      .button {
        width: 12px;
        height: 12px;
        mask: url($image-prefix + "icon-arrow-desc.svg") no-repeat center center;
        -webkit-mask: url($image-prefix + "icon-arrow-desc.svg") no-repeat
          center center;
        transition: 300ms all;
        background: #fff;
        margin: 1px 6px;
      }
      .full-button {
        transform: rotate((90deg));
      }
    }
    .description {
      color: #b1b2b3;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .full-description {
      white-space: normal;
    }
  }
  .msg-area {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    .no-message-notification {
      position: absolute;
      top: 35%;
      left: 36%;
      color: #ff0000;
    }
  }

  .chat-list-wrapper {
    width: 100%;
    padding: 150px 0 0;
    max-height: 100%;
    overflow: auto;

    .del-wrapper {
      .details {
        font-size: 11px;
      }
      .confirm-btn {
        color: #fff;
        background: #ff0000;
        margin: 10px;
        margin-left: 40px;
      }
      button {
        border-radius: 2px;
      }
    }
    .chat-wrapper {
      background: transparent;
      width: 100%;
      max-width: 100%;

      &.chat-feedback-wrapper {
        .support-header {
          background-color: #1a1f26;
          padding: 10px;
          border-radius: 2px;
          margin-bottom: 20px;
          .support-header-left .content-wrapper .content {
            padding-bottom: 0;
          }
        }
      }

      .support-header {
        display: flex;
        position: relative;

        .support-header-left {
          width: 100%;
          display: flex;
          .chat-avatar {
            width: 30px;
          }
          img {
            border-radius: 50%;
            margin: -3px 5px;
            cursor: pointer;
          }
          .content-wrapper {
            padding-left: 10px;
            width: 100%;

            .name {
              display: flex;
              align-items: center;
              margin-top: 2px;
              margin-bottom: 6px;
              h4 {
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                margin-right: 5px;
              }
              .card-label {
                color: #b1b2b3;
                border: 1px solid #b1b2b3;
                font-size: 9px;
                font-weight: 500;
                line-height: 12px;
                text-transform: uppercase;
                padding: 0 5px;
                border-radius: 2px;
                margin-right: 8px;
              }
              .time-zone {
                font-size: 11px;
                color: #666;
              }
            }

            .steno-wrapper {
              .editor-fileList-wrapper {
                margin: 0 !important;
                border: none !important;
                #steno-editor {
                  width: 100% !important;
                  border-radius: 2px;
                  padding-left: 10px !important;
                  padding-right: 10px !important;
                }
              }
            }

            .edit-btn {
              display: flex;
              align-items: end;
              width: 100%;
              justify-content: end;
              gap: 10px;
              margin-top: 10px;
              .save-btn {
                background-color: #02bb5b !important;
              }

              .cancel-btn {
                background-color: #fff !important;
              }

              button {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 16px;
                position: relative;
                cursor: pointer;
                border: none;
                // background: #ffffff 0% 0% no-repeat padding-box;
                border-radius: 2px;
                padding: 0 5px 0 0;

                span {
                  display: flex;
                  margin-right: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 16px;
                  height: 16px;
                  background: #00000033;
                }
                .save {
                  &::before {
                    content: "";
                    mask: url($image-prefix + "icon-save.svg") no-repeat center
                      center;
                    -webkit-mask: url($image-prefix + "icon-save.svg") no-repeat
                      center center;
                    mask-size: 10px;
                    -webkit-mask-size: 10px;

                    width: 10px;
                    height: 10px;
                    background-color: #000;
                    // margin: 3px 0;
                    // margin-right: 3px;
                  }
                }

                .cancel {
                  // display: flex;

                  &::before {
                    content: "";
                    mask: url($image-prefix + "icon-close-lite.svg") no-repeat
                      center center;
                    -webkit-mask: url($image-prefix + "icon-close-lite.svg")
                      no-repeat center center;
                    mask-size: 9px;
                    -webkit-mask-size: 9px;

                    width: 9px;
                    height: 9px;
                    background-color: #000;
                    // margin: 4px 0;
                    // margin-right: 3px;
                  }
                }
              }
            }

            .content {
              padding: 0 0 20px;
              font-size: 10px;
              overflow-y: auto;
              white-space: pre-line;
              word-break: break-all;

              p {
                margin: 0 !important;
              }
              .change-status {
                span {
                  color: #b1b2b3;
                  border: 1px solid #b1b2b3;
                  padding: 0 4px;
                  margin-left: 4px;
                  border-radius: 1px;
                  display: inline-block;
                  font-weight: 500;
                }
              }
              .content-video {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;
                .content-wrapper-media {
                  width: calc(33.33% - 7px);
                  .wrapper-media {
                    position: relative;
                    height: 90px;
                    overflow: hidden;
                    video,
                    img {
                      margin: 0;
                      width: 100%;
                      height: 80%;
                      border-radius: 1px;
                      object-fit: fill;
                      cursor: pointer;
                    }
                    // .media-id {
                      //padding-inline-start: 5px;
                    // }
                  }
                }
              }
              .feedback-wrapper {
                display: flex;
                gap: 7px;
                color: #b1b2b3;
                margin-top: 7px;
                font-size: 11px;
                font-weight: 500;
                padding: 0;
                .feedback {
                  background: none;
                  color: #ffffff;
                  cursor: pointer;
                  text-transform: capitalize;
                  display: flex;
                  align-items: center;
                  grid-gap: 5px;
                  gap: 5px;
                  &:before {
                    content: "•";
                    font-size: 11px;
                  }
                  .arrow {
                    display: block;
                    content: "";
                    -webkit-mask: url($image-prefix + "icon-down-arrow.svg")
                      no-repeat center center;
                    mask: url($image-prefix + "icon-down-arrow.svg") no-repeat
                      center center;
                    display: block;
                    transform: rotate(-90deg);
                    cursor: pointer;
                    transition: 300ms all;
                    mask-size: 10px;
                    -webkit-mask-size: 10px;
                    width: 10px;
                    height: 6px;
                    background-color: #fff;
                    &.rotate {
                      transform: rotate(0deg);
                    }
                  }
                }
              }
              .text {
                margin-top: 7px;
                color: #fff;
              }
            }
          }
        }
        .action-menu {
          position: absolute;
          top: 0;
          right: 0;

          cursor: pointer;
          align-items: flex-end;
          mask: url($image-prefix + "icon-dots.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-dots.svg") no-repeat center
            center;

          background-color: #fff;
          mask-size: 12px;
          -webkit-mask-size: 12px;

          //transform: rotate(90deg);
          min-height: 16px;
        }

        .pane {
          position: absolute;
          padding: 5px;
          right: 0;
          top: 15px;
          background: #fff;
          margin: 0;
          min-width: 70px;
          border-radius: 2px;
          z-index: 1;

          &:hover {
            cursor: pointer;
          }

          li {
            list-style: none;
            color: #333;
            padding: 0 5px;
            line-height: 20px;
            transition: 300ms all;
            cursor: pointer;
            font-weight: 500;

            &:hover {
              background-color: #eeeeee;
            }
          }
        }
      }
      .replied {
        font-size: 11px;
        display: flex;
        margin-top: -5px;
        padding-bottom: 15px;
        .num {
          font-size: 11px;
          color: red;
        }
        cursor: pointer;
        .reply-arrow {
          background: transparent;
          color: #fff;
          display: flex;
          font-size: 11px;
          padding: 0;

          &::after {
            content: "";
            mask: url($image-prefix + "icon-down-arrow.svg") no-repeat center
              center;
            -webkit-mask: url($image-prefix + "icon-down-arrow.svg") no-repeat
              center center;
            mask-size: 9px;
            -webkit-mask-size: 9px;

            width: 10px;
            height: 10px;
            background-color: #fff;
            margin: 4px 1px;
            transform: rotate(-90deg);
          }
        }

        .reply-rotate {
          &::after {
            margin: 3px 4px;
            transform: rotate(0deg);
          }
        }
      }
      .reply-wrapper {
        display: flex;
        width: 100%;
        padding: 0 0 20px;
        .header-reply {
          width: 100%;
          .reply-header-wrapper {
            width: 100%;
            display: flex;
            gap: 10px;
            img {
              border-radius: 50%;
              object-fit: cover;
              margin: -3px 5px;
            }
            .reply-sub-wrapper {
              width: 100%;
              .content-reply {
                font-size: 11px;
                overflow-y: auto;
                white-space: pre-line;
                word-break: break-all;

                p {
                  margin: 0 !important;
                }

                .content-video {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
                  .content-wrapper-media {
                    .wrapper-media {
                      position: relative;
                      video,
                      img {
                        //margin-bottom: 10px;
                        margin-top: 10px;
                        // max-width: 133px;
                        //max-height: 78px;
                        width: 133px;
                        height: 78px;
                        //padding-right: 11px;
                        border-radius: 1px;
                        object-fit: fill;
                        cursor: pointer;
                      }
                      .media-id {
                        padding-inline-start: 5px;
                      }
                    }
                  }
                }
              }
            }
          }

          .panes {
            position: absolute;
            padding: 5px 10px;
            right: 10px;
            z-index: 1;
            background: #ffffff;
            font-size: 11px;
            border-radius: 3px;
            li {
              list-style: none;
              color: #000;
              right: 10px;
              //padding: 5px;

              &:hover {
                background-color: #eeeeee;
              }
            }
            > li:first-child {
              padding-top: 0;
            }
          }
        }
        .dot {
          button {
            cursor: pointer;
            align-items: flex-end;
            //margin-left:60px;
            mask: url($image-prefix + "icon-dots.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-dots.svg") no-repeat center
              center;

            background-color: #fff;
            mask-size: 12px;
            -webkit-mask-size: 12px;

            //transform: rotate(90deg);
            min-height: 16px;
          }
        }
      }
      .reply-chat {
        display: flex;
        padding-bottom: 20px;
        gap: 10px;
        .topic-filter-search-iassist {
          position: relative;
          .search {
            padding-left: 15px;
          }
          .screen-wrapper {
            left: 10px !important;
            bottom: 100% !important;
          }
          .add-btn-chat {
            margin: 0;
            position: absolute;
            bottom: 6px;
            left: 5px;
            button {
              cursor: pointer;
              content: "";
              -webkit-mask: url($image-prefix + "icon-plus.svg") no-repeat
                center center;
              mask: url($image-prefix + "icon-plus.svg") no-repeat center center;
              min-width: 12px;
              width: 17px;
              height: 17px;
              background-color: #b1b2b3;
              display: block;
              border-radius: 50%;
            }
          }
        }
        .reply-chat-wrapper {
          background-color: #000;
          border-radius: 2px;
          width: 100%;
        }
      }
      .topic-filter-search-iassist {
        &:before {
          display: none;
        }
        margin-right: 0;
        width: 100%;

        .search {
          position: relative;
          width: 100%;
          display: flex;
          align-items: flex-end;
          background: #000000;
          border-radius: 3px;
          box-shadow: -3px 0px 3px #00000040;
          .steno-wrapper {
            width: 100%;
            .editor-fileList-wrapper {
              margin: 0 !important;
              font-size: 10px;
            }
          }
          .rply-btn {
            cursor: pointer;
            content: "";
            mask: url($image-prefix + "icon-send.svg") no-repeat center center;
            mask-size: 12px;
            -webkit-mask: url($image-prefix + "icon-send.svg") no-repeat center
              center;
            -webkit-mask-size: 12px;
            width: 30px;
            height: 28px;
            background-color: #fff;
            display: block;
            padding: 0;
          }

          input,
          textarea {
            background: transparent;
            border: none;
            padding: 0;
            min-height: 30px;
            padding-left: 6px;
            line-height: 20px;
            width: 100%;
            color: #fff;
            font-size: 11px;
            resize: none;
          }
          input:focus {
            outline: none;
          }
        }
      }
    }
  }

  .delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
  }

  .message {
    width: 100%;
    background: #000000;
    border-radius: 2px;
    position: relative;
    .topic-filter-search-iassist {
      &:before {
        display: none;
      }
      .search {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        border-radius: 3px;

        .steno-wrapper {
          width: 100%;
          .editor-fileList-wrapper {
            margin: 0 !important;
            font-size: 10px;
            border: none !important;
            #steno-editor {
              padding: 8px 10px !important;
              width: 100% !important;
              font-size: 11px !important;
              border-radius: 2px;
            }
          }
        }
        .send {
          cursor: pointer;
          content: "";
          mask: url($image-prefix + "icon-send.svg") no-repeat center center;
          mask-size: 12px;
          -webkit-mask: url($image-prefix + "icon-send.svg") no-repeat center
            center;
          -webkit-mask-size: 12px;
          width: 30px;
          height: 28px;
          background-color: #fff;
          display: block;
          padding: 0;
        }
        .sends {
          background-color: green;
          color: #fff;
          border-radius: 2px;
          margin-right: 3px;
        }

        .cancel {
          background-color: red;
          color: #fff;
          border-radius: 2px;
          margin-right: 3px;
        }

        input,
        textarea {
          background: #000000;
          border: none;
          margin: 5px 10px;
          line-height: 20px;
          width: 100%;
          color: #fff;
          border-radius: 3px;
          resize: none;
        }
        input:focus {
          outline: none;
        }
      }
    }
    .wrap-record {
    }

    .bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px 6px;
      position: relative;
      .screen-wrapper {
        background: #f4f4f4;
        color: #000;
        font-size: 11px;
        width: 170px;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;
        .screen-record {
          background: transparent;
          display: flex;

          &::before {
            content: "";
            mask: url($image-prefix + "icon-record-filled.svg") no-repeat center
              center;
            -webkit-mask: url($image-prefix + "icon-record-filled.svg")
              no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }

        .screen-shot {
          background: transparent;
          //color: #fff;
          display: flex;

          &::before {
            content: "";
            mask: url($image-prefix + "icon-screenshot-filled.svg") no-repeat
              center center;
            -webkit-mask: url($image-prefix + "icon-screenshot-filled.svg")
              no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }
      }

      .add-btn-chat {
        margin: 0;
        button {
          cursor: pointer;
          content: "";
          -webkit-mask: url($image-prefix + "icon-plus.svg") no-repeat center
            center;
          mask: url($image-prefix + "icon-plus.svg") no-repeat center center;
          min-width: 12px;
          width: 17px;
          height: 17px;
          background-color: #b1b2b3;
          display: block;
          border-radius: 50%;
        }
      }
      .close-btn {
        background: transparent;
        color: #00bb5a;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url($image-prefix + "icon-run.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat center
            center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
      .open-btn {
        //background: #00BB5A;
        background: transparent;
        color: #00bb5a;
        //margin-bottom: 10px;
        margin-right: 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url($image-prefix + "icon-run.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat center
            center;
          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
      .delete-btn {
        background: transparent;
        color: #ff0000;
        //margin-bottom: 10px;
        margin-right: 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url($image-prefix + "icon-delete.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-delete.svg") no-repeat center
            center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
    }
  }
}
