$image-prefix: "https://iassist-assets.s3.us-east-2.amazonaws.com/images/";
#iassist-panel-wrapper {
  // #support-main-conatiner {

  .iassist-panel {
    .iassist-panel-header {
      .header-right {
        .filter-btn {
          position: relative;
          padding: 0 15px;
          .button {
            mask: url($image-prefix + "icon-filters.svg") no-repeat center
              center;
            -webkit-mask: url($image-prefix + "icon-filters.svg") no-repeat
              center center;
            mask-size: 12px;
            -webkit-mask-size: 12px;
            width: 12px;
            height: 12px;
            background-color: #b1b2b3;
            padding: 0;
            display: block;
            cursor: pointer;
          }
          .button-select {
            background: #fff;
          }
        }
        .btn-new-topic-wrapper {
          margin-right: 10px;
          &:before {
            display: none;
          }

          button {
            display: flex;
            align-items: center;
            width: 55px;
            height: 16px;
            position: relative;
            cursor: pointer;
            border: none;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 2px;
            padding: 0 5px 0 0;

            .add-new-ticket {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              background: #00000033;
              margin-right: 4px;

              &::before {
                content: "";
                mask: url($image-prefix + "icon-plus-lite.svg") no-repeat center
                  center;
                -webkit-mask: url($image-prefix + "icon-plus-lite.svg")
                  no-repeat center center;
                width: 8px;
                height: 8px;
                background-color: #000000;
                margin: 0;
              }
            }
          }

          .list {
            width: 100%;
            display: flex;
            align-items: center;
            width: 50px;
            background: #efefef 0% 0% no-repeat padding-box;
            border-radius: 2px;

            input {
              background: transparent;
              border: none;
              padding: 0;
              line-height: 20px;
              width: 100%;
            }
          }
        }
      }
    }
    .sub-header-wrapper {
      width: 237px;
      height: 144px;
      background-color: #fff;
      z-index: 999999;
      position: absolute;
      border-radius: 2px;
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      right: 108px;
      top: 28px;

      .sub-header-upper-section {
        display: flex;
        justify-content: space-between;

        .clear {
          background: transparent;
          color: #2151ff;
          font-size: 11px;
          padding: 0;
          text-transform: capitalize;
        }
      }
      .divider {
        max-width: 217px;
        height: 2px;
        background: #eeeeee;
      }
      .sub-header-text {
        color: #646464;
      }
      #date-row {
        gap: 30px;
      }
      #type-row {
        gap: 24px;
      }
      #reporter-row {
        gap: 3px;
      }
      #status-row {
        gap: 18px;
      }
      .sub-header-row {
        display: flex;

        .calendar-wrapper {
          align-items: center;
          &::before {
            display: none;
          }

          .asc-picker-multi-range
            .asc-picker-panel
            + .asc-picker-panel
            .asc-picker-header {
            margin-left: -1px;
          }
          .asc-picker {
            background: #333;

            position: relative !important;
            box-shadow: none !important;
            // color: #fff !important;
            .asc-picker-body .asc-picker-cell.asc-picker-cell-in-view {
              color: #a4a2a2;
            }

            .asc-picker-header button {
              color: #fff;
              height: 16px !important;
            }
            .asc-picker-header-view {
              border: 1px solid #444;
              border-bottom: none;
              margin-right: -1px;
            }

            .asc-picker-input {
              border: 1px solid #444 !important;

              span,
              .asc-picker-input-inner > input {
                color: #fff;
              }
            }
            .asc-picker-view-tabs
              .asc-picker-view-tab:hover:not(.asc-picker-view-tab-selected) {
              background: #6c757d42 !important;
            }
          }

          .period-picker {
            // padding: 10px;
            left: 1px;
            position: absolute;
            background-color: #333;
            z-index: 10;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
            border-radius: 2px;
          }

          #asc-date-picker {
            width: 180px;
          }

          .calendar-date {
            display: flex;
            align-items: center;
            gap: 6px;
            color: #000;
            .calendar {
              max-width: 160px;
              border: none;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
              color: transparent;
              cursor: pointer;
              position: absolute;
              width: 110px;
              background: url($image-prefix + "icon-calendar-1.svg") no-repeat
                right;
            }

            .button-calendar {
              width: 12px;
              height: 12px;
              border: none;
              padding: 0;
              cursor: pointer;
              position: relative;
              mask: url($image-prefix + "icon-calendar-1.svg") no-repeat center
                center / cover;
              -webkit-mask: url($image-prefix + "icon-calendar-1.svg") no-repeat
                center center / cover;
              mask-size: 12px;
              -webkit-mask-size: 12px;
              background-color: #b1b2b3;
              display: block;
            }
          }

          .asc-picker-header {
            padding: 0 !important;
            // margin-left: -1px !important ;
            .asc-picker-header-prev-btn,
            .asc-picker-header-next-btn {
              padding-top: 1px;
              background-color: #848484 !important;
              border-radius: 2px;
            }
            .asc-picker-header-prev-icon,
            .asc-picker-header-next-icon {
              height: 9px !important;
              background-color: #fff !important;
            }
            .asc-picker-header-prev-icon {
              -webkit-mask-size: 11px !important;
              mask-size: 11px !important;
            }
            .asc-picker-header-next-icon {
              -webkit-mask-size: 11px !important;
              mask-size: 11px !important;
            }
          }

          .asc-picker-cell-range-hover.asc-picker-cell-in-view {
            .asc-picker-cell-before {
              width: 1px;
              background-color: #fff;
              height: 96%;
            }

            .asc-picker-cell-inner {
              color: #000;
            }
          }
          .asc-picker-body {
            .asc-picker-cell {
              .asc-picker-cell-before {
                top: 1px !important;
                // height: 15px;
                min-width: calc(100% - 4px) !important;
              }

              .asc-picker-cell-inner {
                min-width: calc(100% - 2px) !important;
              }
            }
            .asc-picker-cell.asc-picker-cell-in-view.asc-picker-cell-range-selected {
              color: #000 !important;
              .asc-picker-cell-before {
                width: 1px;
                height: 96%;
                background-color: #fff !important;
              }
            }

            .asc-picker-content {
              th {
                border: 1px solid #444 !important;
              }

              td {
                border: 1px solid #444 !important;
              }
            }
          }

          .asc-picker-cell-range-selected-start.asc-picker-cell-in-view
            .asc-picker-cell-inner {
            color: #fff !important;
          }
          .asc-picker-cell-range-selected-end.asc-picker-cell-in-view
            .asc-picker-cell-inner {
            color: #fff !important;
          }
        }

        .type,
        .reporter {
          font-size: 11px;

          .select-box-wrapper {
            .select-box {
              .label-wrapper {
                .label {
                  color: #000000 !important;
                }
              }
              .dropdown-icon-wrapper {
                border-top-color: #000 !important;
              }
            }
          }
        }

        .unread-label,
        .read-label {
          color: #000;
        }
        .checkbox-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .unread-button-wrapper {
        background-color: #9b9b9b29;
        border-radius: 2px;
      }
      .unselected {
        background-color: none;
      }
    }

    .filter-wrapper {
      display: flex;
      padding-bottom: 15px;
      .tab-wrapper {
        font-size: 11px;
        cursor: pointer;
        border: 1px solid #6c757d;
        border-radius: 2px;
        span,
        button {
          padding: 0 10px;
          background: transparent;
          color: #fff;
          line-height: 16px;
        }
      }

      .topic-filter-seach-iassist {
        width: 210px;
        height: 20px;
        margin-right: 5px;
        &:before {
          display: none;
        }

        .search {
          position: relative;
          width: 100%;
          max-width: 100%;
          display: flex;
          align-items: center;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 2px;
          margin: 0;

          .btn {
            content: "";
            mask: url($image-prefix + "icon-search.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-search.svg") no-repeat
              center center;

            min-width: 12px;
            width: 12px;
            height: 12px;
            background-color: #777777;
            display: block;
            margin: 0 7px;
          }

          input {
            background: transparent;
            border: none;
            padding: 0;
            line-height: 20px;
            width: 100%;
            color: #fff;
          }
        }
      }

      .status {
        font-size: 11px;
        font-weight: 500;
        background: #232931 0% 0% no-repeat padding-box;
        margin-right: 10px;
      }

      .categories-wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
        padding-bottom: 15px;

        .category {
          display: flex;
          align-items: center;
          height: 16px;
          margin-right: 15px;

          &:last-child {
            margin: 0;
          }
          .select-label-wrapper {
            background-color: #232931;
            color: #b1b2b3 !important;
            margin: 0;
            height: 0;
            padding: 0 8px;
          }

          // .select-box {
          //   height: 16px;
          //   background-color: #232931;
          //   color: #fff;

          //   .dropdown-icon-wrapper {
          //     color: #fff;
          //     border-top-color: #fff;
          //   }
          // }

          .iassist-panel .react-speedselect-container {
            background-color: none;
          }

          .priority {
            margin-right: 0;
            padding: 0 5px;
            border-radius: 2px;
            height: 16px;
            background: #444444 0% 0% no-repeat padding-box;
          }
          label {
            padding: 0 5px;
            border-radius: 2px;
            background: #444444 0% 0% no-repeat padding-box;
            height: 16px;
            select {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .topic-list {
      overflow: auto;
      height: 100%;
      .no-record {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        color: red;
      }
      .topic {
        position: relative;
        background: #1a1f26;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        border-radius: 2px;

        + .topic {
          margin-top: 10px;
        }

        .topic-header {
          padding: 10px 10px 0;
          position: relative;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 3px;
          word-break: break-all;
          .topic-header-inner {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .topic-name {
              padding-right: 20px;
              margin: 0;
              text-transform: capitalize;
            }
            .topic-chat-notify {
              cursor: pointer;
              mask: url($image-prefix + "icon-message.svg") no-repeat center
                center;
              -webkit-mask: url($image-prefix + "icon-message.svg") no-repeat
                center center;
              mask-size: 12px;
              -webkit-mask-size: 12px;
              width: 12px;
              height: 12px;
              background-color: #b1b2b3;
              position: absolute;
              right: 10px;
              top: 10px;
            }
            .topic-chat-notify-layer {
              background-color: red;
              position: absolute;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              right: 8px;
              top: 9px;
            }
          }
          .topic-description {
            padding-top: 2px;
            color: #b1b2b3;
          }

          .option-btn {
            position: absolute;
            top: 0;
            right: 0;

            .option {
              cursor: pointer;
              mask: url($image-prefix + "icon-dots.svg") no-repeat center center;
              -webkit-mask: url($image-prefix + "icon-dots.svg") no-repeat
                center center;
              min-width: 12px;
              mask-size: 12px;
              -webkit-mask-size: 12px;

              width: 12px;
              height: 12px;
              background-color: #fff;
              transform: rotate(90deg);
            }
          }
        }

        .header-meta-divider {
          height: 0.5px;
          background-color: #646464;
          width: 100%;
        }
        .topic-meta {
          .topic-buttons {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px;
            .icon-btn {
              background-color: transparent;
              display: flex;
              align-items: center;
              padding: 0;
              i {
                &:before {
                  content: "";
                  width: 10px;
                  height: 10px;
                  display: block;
                  background-color: #fff;
                }
              }
              span {
                margin-left: 6px;
                color: #00bb5a;
                line-height: 16px;
                font-weight: 500;
              }
              &.btn-resolve {
                i:before {
                  mask: url($image-prefix + "icon-run.svg") no-repeat center
                    center;
                  -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat
                    center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
                }
              }
              &.btn-reopen {
                i:before {
                  mask: url($image-prefix + "icon-reopen.svg") no-repeat center
                    center;
                  -webkit-mask: url($image-prefix + "icon-reopen.svg") no-repeat
                    center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
                }
                span {
                  color: #ffa500;
                }
              }
              &.btn-delete {
                i:before {
                  mask: url($image-prefix + "icon-delete.svg") no-repeat center
                    center;
                  -webkit-mask: url($image-prefix + "icon-delete.svg") no-repeat
                    center center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
                }
                span {
                  color: #ff0000;
                }
              }
            }
          }

          .info {
            color: #a79f9f;
            span {
              color: #fff;
            }
          }
        }
      }
    }

    .react-speedselect-container {
      border: none !important;
      display: flex;
      position: relative;
      background-color: #333333;
      font-size: 11px;
      border-radius: 2px;
      .select-label-wrapper {
        height: 16px;
        max-width: fit-content;
        color: #fff;
        padding: 1px 8px;
      }
      .select-box-wrapper {
        background-color: #fff;
        border-radius: 0px 2px 2px 0px;
        height: 17px;
        .select-box {
          height: auto;
          background-color: transparent;
          padding: 2px;
          padding-right: 14px;
          border: none;
          &:hover {
            background-color: transparent;
          }
          .label-wrapper {
            .label {
              color: #fff !important;
              line-height: 13px;
              text-transform: capitalize;
              padding: 0 6px;
            }
          }
          .dropdown-icon-wrapper {
            display: block;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid #202124;
            border-top-color: #fff !important;
            div {
              display: none;
            }
          }
        }
        .select-dropdown {
          max-width: fit-content;
          position: absolute;
          max-width: 600px;
          width: 130px;
          left: 0 !important;
          min-width: calc(100% - 40px) !important;
          z-index: 9;
          border: none;
          border-radius: 2px;
          overflow: hidden;
          background: #364149;
          box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
          -webkit-box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.45);

          .search-wrapper {
            .search {
              width: 100%; //! temporary fix - discus with devang
            }
          }
          .options-wrapper {
            background: #fff;
            overflow: scroll; //! temporary fix - discus with devang
            .options {
              list-style-type: none;
              padding-inline-start: 10px;
              margin: 0px;
              li {
                padding: 2px 0;
                label {
                  cursor: pointer;
                  color: #000;
                  background-color: #fff;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }

    .btn-with-icon {
      display: block;
      position: relative;
      padding: 0 !important;
      outline: none;
      color: #000;
      //text-transform: capitalize;
      cursor: pointer;
      background: #000;
      border: none;
      border-radius: 2px;
      display: flex;
      transition: var(--transition);

      &:hover {
        opacity: 0.7;
      }

      i {
        background: rgba(0, 0, 0, 0.2);
        width: 20px;
        height: 20px;
        border-radius: 2px 0 0 2px;
        &:before {
          background: #000;
          content: "";
          display: block;
          margin: 5px auto 0;
          width: 10px;
          height: 10px;
        }
      }
      span {
        padding: 0 5px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
      }

      &.btn-cancel-white {
        background: #fff;
        color: #000;

        i {
          &:before {
            -webkit-mask: url($image-prefix + "icon-close.svg") no-repeat center
              center;
            mask: url($image-prefix + "icon-close.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            background-color: #000;
          }
        }
      }

      &.btn-approve {
        background: #23c968;
        color: #fff;
        i {
          &:before {
            -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat center
              center;

            mask: url($image-prefix + "icon-run.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
            background-color: #000;
            //   font-weight: 500;
          }
        }
        span {
          color: #000;
        }
      }

      &.btn-small {
        i {
          width: 16px;
          height: 16px;
          &:before {
            mask-size: 8px;
            -webkit-mask-size: 8px;

            width: 8px;
            height: 8px;
            margin: 3.5px auto 0;
          }
        }
        span {
          line-height: 16px;
          padding: 0 5px;
          &.change-count {
            line-height: 14px;
          }
        }
      }
    }

    // Topics list on first screen

    .context-menu {
      position: absolute;
      top: 2px;
      right: 0;
      padding: 5px;
      min-width: 55px;
      background: #fff;
      border-radius: 2px;
      color: #000000;
      cursor: pointer;
      z-index: 1;

      li {
        padding: 5px 0;
        list-style-type: none;
        font-size: 11px;
        color: #000000;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    input:focus,
    textarea:focus {
      outline: none;
    }

    .edit-sub-header {
      padding: 10px 0;
      width: 100%;
      background: #232931 0% 0% no-repeat padding-box;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .topic-search-wrapper {
        // position: absolute;
        width: 202px;
        height: 20px;
        max-width: 202px;
        z-index: 1;
        margin-left: 10px;

        &:before {
          display: none;
        }

        .topic-search {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 2px;

          .before {
            content: "";
            mask: url($image-prefix + "icon-search.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-search.svg") no-repeat
              center center;
            width: 14px;
            height: 14px;
            background-color: #777777;
            display: block;
            margin: 0 7px;
          }

          input {
            background: transparent;
            border: none;
            padding-left: 10px;
            line-height: 20px;
            width: 85%;
            color: #fff;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .status-wrapper {
        margin-left: 5px;
        display: flex;
        align-items: center;

        .ticket-close {
          display: flex;
          font-size: 11px;
          background: #00bb5a;
          color: #000;
          margin-right: 20px;
          padding: 2px 10px;
          padding-left: 0;
          border-radius: 2px;
          cursor: pointer;
          &::before {
            content: "";
            mask: url($image-prefix + "icon-run.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat center
              center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }

        .ticket-reopen {
          background: #ffa500;
          color: #000;
          font-size: 11px;
          // margin-bottom: 10px;
          margin-right: 5px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          gap: 3px;
          padding-right: 6px;
          cursor: pointer;

          &::before {
            content: "";
            mask: url($image-prefix + "icon-run.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-run.svg") no-repeat center
              center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 0 3px;
          }
        }

        .search-btn {
          display: block;
          content: "";
          mask: url($image-prefix + "icon-search.svg") no-repeat center center;
          -webkit-mask: url($image-prefix + "icon-search.svg") no-repeat center
            center;
          min-width: 14px;
          width: 14px;
          height: 14px;
          background-color: #777777;
          display: block;
          margin-right: 10px;
        }

        .status {
          border-left: 1px solid #777777;
          padding-left: 10px;
        }
      }
    }

    .delete-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 15%;
    }
  }

  .topic-filter1 {
    padding: 10px 0;
  }
  .topic-filter2 {
    padding: 4px 0;
  }

  .topic-filter,
  .sort,
  .topic-filter1,
  .topic-filter2 {
    display: flex;
    font-size: 14px;
    align-items: center;

    div.label {
      line-height: 24px;
      font-size: 14px;
      @media only screen and (max-width: 991px) {
        line-height: 14px;
      }
    }
  }
  .tag-suggestion-container {
    position: absolute;
    background-color: #ecece3;
    color: #000000;
    border-radius: 5px;
    padding: 10px 0;
    left: 12px;
    max-height: 120px;
    overflow-y: scroll;
    z-index: 1;
    top: 31px;
    li {
      list-style-type: none;
      font-size: 12px;
      padding: 0 10px;
      &:hover {
        border-radius: 3px;
        background: green;
        color: #fff;
      }
    }
  }
  .user-suggestion-container {
    position: absolute;
    background-color: #ecece3;
    color: #000000;
    border-radius: 5px;
    padding: 10px 0;
    left: 12px;
    max-height: 120px;
    overflow-y: scroll;
    li {
      list-style-type: none;
      font-size: 12px;
      padding: 0 10px;
      &:hover {
        border-radius: 3px;
        background: green;
        color: #fff;
      }
    }
  }
  .search-body {
    width: 90%;
    max-height: calc(100% - 143px);
    padding: 10px;
    position: absolute;
    bottom: 8%;
    background: rgb(44, 40, 40);
    z-index: 1;
    margin-left: 20px;
    overflow-y: scroll;
    .chat-wrapper-search {
      border-left: 2px solid red;
      overflow-y: scroll;
      background: #022e64 0% 0% no-repeat padding-box;
      margin: 10px;
      max-width: 330px;
      padding: 5px;
      z-index: 10000;
      .support-header-search {
        display: flex;
        .support-header-left-search {
          img {
            border-radius: 50%;
            object-fit: cover;
            margin: -3px 5px;
          }
          .name-search {
            font-size: 10px;
            color: #fff;
            padding-right: 8px;
            //text-transform: capitalize;
          }
          .time-zone-search {
            font-size: 10px;
            color: #8b8d90;
          }
        }
        .support-header-right-search {
          button {
            cursor: pointer;
            align-items: flex-end;
            margin-left: 60px;
            mask: url($image-prefix + "icon-dots.svg") no-repeat center center;
            -webkit-mask: url($image-prefix + "icon-dots.svg") no-repeat center
              center;

            background-color: #fff;
            mask-size: 12px;
            -webkit-mask-size: 12px;

            transform: rotate(90deg);
            min-height: 16px;
          }
        }
      }
      .content-search {
        padding: 5px;
        font-size: 10px;
        overflow-y: auto;
      }
    }
  }
}
